html {
  box-sizing: border-box;
}

header {
  display: flex;
  color: #fff;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
nav {
  width: 50%;
}
nav .nav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: #fff;
}
.nav a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
main {
  display: flex;
  gap: 25px;
  height: 80vh;
  background-color: beige;
}
.aside {
  background-color: lightblue;
  padding: 25px;
}
ul {
  list-style: none;
  padding-left: 0;
}
li a {
  text-decoration: none;
  color: #333;
}
.aside li + li {
  margin-top: 10px;
}
.article {
  padding: 120px 25px 50px 50px;
}
.article p {
  line-height: 1.5;
}
#footer {
  padding: 20px 0;
  text-align: center;
  background-color: #333;
  color: #fff;
}
/* Search form */
.form-search {
  position: relative;
}
.form-search input[type="search"] {
  display: inline-block;
  padding-right: 20px;
  color: #fff;
  height: 30px;
  border: 0;
  outline: none;
  position: absolute;
  width: 0;
  right: 0;
  background: none;
  cursor: pointer;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
}
.search-button {
  display: inline-block;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
.search-icon {
  fill: #fff;
  width: 15px;
  height: 15px;
}
.form-search input[type="search"]:focus {
  position: relative;
  width: 120px;
  z-index: 1;
  border-bottom: 1px solid #999;
  padding: 0;
  cursor: text;
  margin: 0 10px;
}
